.menu {
  background-color: #051421;
  .item {
    color: rgb(180, 178, 176);
    &:hover {
      background-color: #042727;
      color: rgb(180, 178, 176);
    }
  }
}

.btnPrimary {
  @apply inline-block  px-3 py-2 text-sm bg-gray-200 text-greenHd rounded-lg font-semibold uppercase lg:w-auto hover:text-gray-200 hover:bg-greenHd;
}
